body {
    background-image: url("../Image/santa.png");
}





/* margin:0;
    padding:0;
    background: url(/home/gaudeline/Images/christmas-streeker/santa.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; version standardisée */
