*{box-sizing: border-box;}

html,body{
    padding:0;
    margin:0;
    background-color: #000;
}

section {
    height:100vh;
    padding-top:8vh;
    background-size: cover;
    background-image: url("../Image/bg.gif");
    background-repeat: no-repeat;
    font-family: 'Pacifico', cursive;
    overflow: hidden;
}

.score {
    display:block;
    margin:3vh auto 0;
    border: 3px whitesmoke double;
    width: 250px;
    background-color: rgba(49,140,231,0.5);
    color: whitesmoke;
    text-align:center;
    font-size: 1.5rem;
    font-weight: bold;;
}

.étoile{
    display:block;
    width:20%;
    margin:auto;
    position: relative;
    animation-name: mouve;
    animation-duration: 2s;

}

@keyframes mouve {
    0%   { left:0px; top:-600px;}
    100% { left:0px; top:0px;}
  }

.étoile:active
{
   transform: scale(1.3);
   transition: 0.08s;
}




.btns {
    width:70%;
    margin: 10vh auto 0;
    display:flex;
    justify-content: center;
    align-content: space-between;
}

.btns img{
    width:60%;
}

button{
    margin:0 10px;
    color: whitesmoke;
    width:20%;
    background-color: rgba(49,140,231,0.5);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

button:disabled{
    color:grey;
}



 


/* margin:0;
    padding:0;
    background: url(/home/gaudeline/Images/christmas-streeker/santa.png) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    /*background-size: cover; version standardisée */
